.container-img{
    background-image: url('https://ik.imagekit.io/c2zxrxqp6/Tourism/image.png?updatedAt=1742733562067');
    height: 600px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conntainer-2img{
    background-image: url('https://ik.imagekit.io/c2zxrxqp6/Tourism/taj-mahal?updatedAt=1742733562021');
    height: 550px;
    width: 300px;
    background-position: center;
    background-size: cover;
}   